Source: ros-hydro-zeroconf-avahi
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libavahi-client-dev, libavahi-core-dev, ros-hydro-catkin, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-zeroconf-msgs
Homepage: http://wiki.ros.org/zeroconf_avahi
Standards-Version: 3.9.2

Package: ros-hydro-zeroconf-avahi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-daemon, libavahi-client-dev, libavahi-core-dev, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-zeroconf-msgs
Description: Provides zeroconf services on avahi for ros systems. This is a c++ implementation.
