Source: ros-groovy-zeroconf-avahi
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-rosconsole,ros-groovy-catkin,ros-groovy-roscpp,libavahi-core-dev,ros-groovy-zeroconf-comms,libavahi-client-dev
Homepage: http://wiki.ros.org/zeroconf_avahi
Standards-Version: 3.9.2

Package: ros-groovy-zeroconf-avahi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rosconsole,ros-groovy-roscpp,libavahi-core-dev,ros-groovy-zeroconf-comms,libavahi-client-dev,avahi-daemon
Description: Provides zeroconf services on avahi for ros systems. This is a c++ implementation.
