Source: ros-groovy-zeroconf-avahi-demos
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-zeroconf-avahi,ros-groovy-catkin
Homepage: http://wiki.ros.org/zeroconf_avahi_demos
Standards-Version: 3.9.2

Package: ros-groovy-zeroconf-avahi-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-zeroconf-avahi,avahi-daemon
Description: Several demos and launch-tests for the avahi based zero-configuration.
